.container {
    width: 100%;
    max-width: 988px;
    min-width: 988px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    overflow: auto;
    margin: 0 auto;

    .enrollmentTable {
        display: flex;
        flex-direction: column;
        gap: 11px;
        width: 100%;

        .head {
            background: #E9E9E9;
            display: flex;
            height: 46px;
            align-items: center;
            border-radius: 9px;

            .row {
                display: flex;
                flex-grow: 1;
                align-items: center;
                padding: 0px 10px;

                .headerCell {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 10%;

                    &:nth-child(1) {
                        min-width: 71px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(3) {
                        min-width: 222px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(4) {
                        min-width: 97px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(7) {
                        min-width: 204px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(9) {
                        min-width: 71px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(11) {
                        min-width: 71px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:nth-child(13) {
                        min-width: 71px;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:last-child {
                        justify-content: flex-end;
                    }

                    span {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: #777777;
                    }
                }

                .dividir {
                    height: 12px;
                    width: 1px;
                    background-color: #CCCCCC;
                }

            }

        }

        .body {
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: 9px;
            overflow: hidden;
            padding: 10px;

            .row {
                border: 1px solid transparent;
                cursor: pointer;

                .mainRow {
                    display: flex;

                    .cell {
                        display: flex;
                        justify-content: center;
                        width: 300px;
                        align-items: center;
                        min-width: 71px;

                        .studentAvatarArea {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 5px;
                            padding: 8px 20px;

                            svg {
                                font-size: 11px;
                            }

                            .avatar {
                                width: 27px;
                                height: 27px;
                                border-radius: 50%;
                                border: 1.5px solid #FBF9F9;
                            }
                        }

                        span {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 13px;
                            letter-spacing: 0%;
                        }

                        &:nth-child(1) {
                            min-width: 95px;

                            span {
                                font-weight: 700;
                                color: #00397B;
                            }
                        }

                        &:nth-child(2) {
                            min-width: 222px;
                            justify-content: flex-start;
                        }

                        &:nth-child(3) {
                            min-width: 100px;
                        }

                        &:nth-child(4) {
                            min-width: 204px;
                        }

                        &:nth-child(5) {
                            min-width: 100px;
                        }

                        &:nth-child(6) {
                            min-width: 100px;
                        }

                        &:nth-child(7) {
                            min-width: 100px;
                        }

                        &:nth-child(8) {
                            padding: 0px;
                            min-width: 10px;
                            justify-content: center;
                            align-items: center;
                        }

                        .matricula {
                            font-weight: 700;
                        }

                        .shiftButton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 21px;
                            border-radius: 5px;
                            background: #D7E8FF;
                            padding: 0px 20px;
                            color: #197DFF;

                            .shiftDate {
                                font-weight: 700;
                                font-style: Bold;
                                font-size: 12px;
                                line-height: 13px;
                                letter-spacing: 0%;
                            }
                        }

                        .em_fila {
                            background: #FFDFCA;
                            color: #F58334;
                        }

                        .arrowColapse {
                            font-size: 20px;
                            color: #00397B;
                            cursor: pointer;
                            transition: .1s ease-in-out;
                        }
                    }

                    .cellColapse {
                        justify-content: flex-end;
                        padding-right: 23px;
                    }

                }

                .actionsRow {
                    display: flex;
                    justify-content: flex-end;
                    transition: .1s ease-in-out;
                    height: 0px;
                    padding: 0px 23px;
                    overflow: hidden;

                    .actions {
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        .dividir {
                            width: 1px;
                            height: 12.71px;
                            background-color: #CCCCCC;
                        }

                        svg {
                            font-size: 15.5px;
                            color: #00397B;
                            cursor: pointer;

                            &:nth-child(1) {
                                color: #E34141;
                            }

                            &:nth-child(2) {
                                color: #089A25;
                            }
                        }
                    }
                }
            }

            .rowColapse {
                background-color: #F5F8FB !important;
                border-color: #AAD0FF;
                border-radius: 9px;

                .mainRow {
                    border-bottom: solid 1px #E9E9E9;

                    .cell {
                        .arrowColapse {
                            transform: rotate(180deg);
                            color: #01C0F3;
                        }
                    }
                }

                .actionsRow {
                    padding: 14px 23px;
                    height: auto;
                }
            }

            .elegivel {
                background-color: #E8FFE8 !important;
            }
        }
    }
}