.containerIntencaoVaga {
    width: 100%;
    // max-width: 942px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .tableArea {
        // overflow-x: auto;

        .table {
            width: 100%;
            min-width: 942px;

            .header,
            .row {
                display: grid;
                grid-template-columns: 1.5fr 3fr 1.5fr 3fr 1fr 1fr 1.5fr 1fr;
                align-items: center;
            }

            .header {
                background: #E9E9E9;
                border-radius: 9px;
                padding: 0 8px;
                height: 46px;

                .th {
                    font-weight: 400;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #777;
                    border-right: 1px solid #CCC;

                    &:first-child {
                        justify-content: flex-start;
                        padding-left: 23px;
                    }

                    &:nth-child(2) {
                        justify-content: flex-start;
                        padding-left: 10px;
                    }

                    &:nth-child(4) {
                        justify-content: flex-start;
                        padding-left: 12px;
                    }

                    &:nth-child(8) {
                        color: transparent;
                    }

                    &:nth-child(7),
                    &:last-child {
                        border-right: none;
                    }
                }
            }

            .body {
                margin-top: 10px;
                background: #fff;
                border: 1px solid #E8E8E8;
                border-radius: 9px;
                padding: 12px 8px;

                .areaRow {
                    background: #F5F8FB;
                    border-radius: 5px;
                    cursor: pointer;

                    &:nth-child(even) {
                        background: transparent;
                    }

                    &:hover {
                        opacity: .7;
                    }

                    .row {
                        min-height: 44px;
                        transition: 0.2s;

                        .td {
                            font-weight: 400;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;

                            &:first-child {
                                font-weight: 700;
                                color: #00397B;
                                padding-left: 23px;
                                justify-content: flex-start;

                                svg {
                                    font-size: 11px;
                                }
                            }

                            &:nth-child(2) {
                                padding-left: 10px;
                                justify-content: flex-start;
                            }

                            &:nth-child(4) {
                                padding-left: 12px;
                                justify-content: flex-start;
                            }

                            &:nth-child(8) {
                                padding-right: 29px;
                            }

                            &:nth-child(3),
                            &:nth-child(7) {
                                justify-content: center;
                                font-weight: 700;
                            }

                            &:last-child {
                                justify-content: flex-end;
                            }

                            .userIcon {
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                object-fit: cover;
                            }

                            button {
                                height: 22px;
                                border-radius: 5px;
                                padding: 0 20px;
                                font-size: 12px;
                            }

                            .arrowIcon {
                                transition: 0.2s;
                                font-size: 20px;
                                color: #00397B;

                                &:hover {
                                    color: #3b82f6;
                                }
                            }
                        }
                    }

                    .dropdown {
                        border-top: 1px solid #BFE6C7;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 2fr 4fr 1fr;
                        align-items: center;
                        padding: 11px 29px 11px 112px;

                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            span {
                                font-size: 10px;
                                font-weight: 400;

                                &:nth-child(2) {
                                    font-weight: 700;
                                }
                            }

                            &:last-child {
                                flex-direction: row;
                                justify-content: flex-end;
                                gap: 8px;

                                .dividir {
                                    width: 1px;
                                    height: 12.71px;
                                    background: #CCC;
                                }

                                svg {
                                    font-size: 15.5px;
                                    color: #00397B;
                                    cursor: pointer;

                                    &:first-child {
                                        color: #E34141;
                                    }

                                    &:nth-child(2) {
                                        color: #089A25;
                                    }
                                }
                            }
                        }
                    }
                }

                .areaRowSelected {
                    border: 0.5px solid #089A25;

                    .row .td .arrowIcon {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}