.container {
    width: 100%;
    max-width: 988px;
    min-width: 988px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    overflow: auto;
    margin: 0 auto;

    .enrollmentTable {
        display: flex;
        flex-direction: column;
        gap: 11px;
        width: 100%;

        .head {
            background: #E9E9E9;
            display: flex;
            height: 46px;
            align-items: center;
            border-radius: 9px;

            .row {
                display: flex;
                flex-grow: 1;
                align-items: center;
                padding: 0px 10px;

                .headerCell {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 10%;

                    &:nth-child(1) {
                        min-width: 40%;
                        justify-content: left;
                        padding-left: 27px;
                    }

                    &:last-child {
                        justify-content: flex-end;
                    }

                    span {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: #777777;
                    }

                    .headerActions {
                        display: flex;
                        border-radius: 5px;
                        overflow: hidden;
                        border: 1px solid #E2E2E2;

                        .viewButton {
                            height: 26px;
                            width: 30px;
                            border: none;
                            background-color: transparent;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                font-size: 12px;
                                color: #A4A4A4;
                            }
                        }

                        .active {
                            background-color: #fff;

                            svg {
                                color: #00397B;
                            }
                        }
                    }
                }

                .dividir {
                    height: 12px;
                    width: 1px;
                    background-color: #CCCCCC;
                }

            }

        }

        .body {
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: 9px;
            overflow: hidden;
            padding: 10px;

            .row {
                border: 1px solid transparent;
                cursor: pointer;

                .mainRow {
                    display: flex;

                    .student {
                        width: 100%;
                        min-width: 40%;
                        display: flex;
                        gap: 11px;
                        align-items: center;
                        padding: 8px 20px;

                        .avatar {
                            width: 27px;
                            height: 27px;
                            border-radius: 50%;
                            border: 1.5px solid #FBF9F9;
                        }

                        span {
                            font-size: 12px;
                        }

                        .index {
                            font-weight: 700;
                            color: #00397B;
                        }

                        .studentName {
                            font-weight: 400;
                        }
                    }


                    .cell {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        max-width: 10%;

                        span {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 13px;
                            letter-spacing: 0%;
                        }

                        .matricula {
                            font-weight: 700;
                        }

                        .shiftButton {
                            width: 95px;
                            height: 21px;
                            border-radius: 11px;
                            background: #E8FFE8;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 2px;

                            .shiftCode {
                                width: 23px;
                                height: 17px;
                                border-radius: 11px;
                                background: #007E16;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 700;
                                font-size: 10px;
                                line-height: 13px;
                                letter-spacing: 0%;
                                color: #fff;
                            }

                            .shiftDate {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 13px;
                                letter-spacing: 0%;

                            }
                        }

                        .TR {
                            background-color: #D7E8FF;

                            .shiftCode {
                                background-color: #0044FF;
                            }
                        }


                        .MC {
                            background-color: #FCD4D4;

                            .shiftCode {
                                background-color: #FF0000;
                            }
                        }

                        .iconSituacao {
                            color: #FF1616;
                            display: none;
                        }

                        .arrowColapse {
                            font-size: 13px;
                            color: #00397B;
                            cursor: pointer;
                            transition: .1s ease-in-out;
                        }
                    }

                    .cellColapse {
                        justify-content: flex-end;
                        padding-right: 23px;
                    }

                }

                .actionsRow {
                    display: flex;
                    justify-content: flex-end;
                    transition: .1s ease-in-out;
                    height: 0px;
                    padding: 0px 23px;
                    overflow: hidden;

                    .actions {
                        display: flex;
                        gap: 8px;

                        svg {
                            font-size: 15.5px;
                            color: #00397B;
                            cursor: pointer;

                            &:nth-child(1) {
                                color: #E34141;
                            }
                        }
                    }
                }
            }

            .rowColapse {
                background-color: #F5F8FB !important;
                border-color: #AAD0FF;
                border-radius: 9px;

                .mainRow {
                    border-bottom: solid 1px #E9E9E9;

                    .cell {
                        .arrowColapse {
                            transform: rotate(180deg);
                            color: #01C0F3;
                        }
                    }
                }

                .actionsRow {
                    padding: 14px 23px;
                    height: auto;
                }
            }

            .alert {
                background-color: #FFDEDE !important;

                .iconSituacao {
                    display: flex !important;
                }
            }
        }
    }
}