.containerBaseComponent {
    display: flex;
    padding: 10px;
    height: calc(100dvh - 20px);

    .body {
        flex-grow: 1;
        padding: 48px 28px 0px 38px;
        overflow: auto;
        min-height: 0;
        display: flex;
        justify-content: center;
    }
}