.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    background-color: #fff;
    img{
        width: 250px;
        height: 250px;
    }
}