.desligamentoExpress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 513px;

    .desligamentoExpress_form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
